In [1]:
!pip install wikipedia

Requirement already satisfied: wikipedia in c:\users\bootcamp\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: beautifulsoup4 in c:\users\bootcamp\anaconda3\lib\site-packages (from wikipedia) (4.8.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in c:\users\bootcamp\anaconda3\lib\site-packages (from wikipedia) (2.22.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\bootcamp\anaconda3\lib\site-packages (from beautifulsoup4->wikipedia) (1.9.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\bootcamp\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\bootcamp\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bootcamp\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bootcamp\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.9.11)

In [2]:
import pandas as pd
import wikipedia as wp

In [3]:
cap = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(cap, header = 0)[0]

In [4]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
df.to_csv(r'data/df_canada.csv', index=False)

In [6]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned
new_df = df[df['Borough'] != "Not assigned"]

new_df.reset_index(drop = True,inplace =True)

In [7]:
new_df

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [8]:
new_df= new_df.groupby(['Postal Code', 'Borough'], as_index=False).agg(lambda x: ', '.join(set(x)))

In [9]:
mask = new_df['Neighborhood'] == 'Not assigned'
new_df.loc[mask, 'Neighborhood'] = new_df[mask].Borough

In [10]:

new_df[new_df['Postal Code'] == 'M7A']

   Postal Code           Borough                                 Neighborhood
85         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [11]:

new_df.head(12)

   Postal Code      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
5          M1J  Scarborough                                Scarborough Village
6          M1K  Scarborough        Kennedy Park, Ionview, East Birchmount Park
7          M1L  Scarborough                    Golden Mile, Clairlea, Oakridge
8          M1M  Scarborough    Cliffside, Cliffcrest, Scarborough Village West
9          M1N  Scarborough                        Birch Cliff, Cliffside West
10         M1P  Scarborough  Dorset Park, Wexford Heights, Scarborough Town...
11         M1R  Scarborough                                  Wexford, Maryvale

In [12]:
# Show the shape of the df
new_df.shape

(103, 3)